name: pytest

on:
  workflow_dispatch: {}
  push:
    branches: [ main ]
  pull_request: {}

jobs:
  pytest:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: read
    container:
      image: ghcr.io/${{ github.repository_owner }}/simplewish-infra:main
      options: --user 1000
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create venv with system-site-packages
        run: |
          python -m venv --system-site-packages .venv

      - name: Run tests
        run: |
          ./.venv/bin/python -m pytest -q